.FirstNavbar{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.InsideFirstNavbar{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
}
.FirstNavbarStart {
    display: flex;
}
.phoneNumber{
    padding-right: 15px;
    border-right: solid 1px #d8d8d8;
}
.mail{
    padding-left: 15px;
}
.login{
    padding-right: 15px;
    border-right: solid 1px #d8d8d8;
}
.register{
    padding-left: 15px;
}
.FirstNavbarRight > a{
    color: black ;
}
.FirstNavbarRight > a:hover{
    text-decoration: none ;
    color: red ;
}